* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
    overflow-x: hidden;
}

.main {
    background-image: url("Assets/image/bg.jpg");
    height: 90vh;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
    z-index: 10;
}

.main .box {
    height: 90vh;
    width: 100vw;
    opacity: 0.70;
    position: absolute;
    top: 0px;
    background-color: rgb(0, 0, 0);
}

nav img {
    width: 120px;
    position: relative;
    z-index: 10;
}

nav {
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    position: relative;

    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
    color: rgb(255, 255, 255);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    padding: 0px 20px;
    text-align: center;
}

.hero> :nth-child(1) {
    font-size: 64px;
    font-weight: 850;
    line-height: 70px;
    text-align: center;

}

.hero> :nth-child(2) {
    font-size: 4rem;
    font-weight: 850;
    text-align: center;
}

.hero> :nth-child(3) {
    padding: 12px 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.hero> :nth-child(4) {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    padding: 15px 10px;
    text-align: center;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.saperation {
    height: 7px;
    background-color: #242323;
    position: relative;
    z-index: 20;
}

.nav-btn {
    display: flex;
    gap: 9px;

}

.btn {
    background-color: rgba(124, 124, 124, 0);
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.377);
    color: rgb(245, 245, 245);
    font-size: 13px;
    font-weight: 600;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.btn-SI{
    background-color: rgb(214, 4, 22);
    padding: 6px 19px;
    border-radius: 5px;
    border: 0;
}

.btn-GS {
    font-size: 23px;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(214, 4, 22);
    color: white;
}

.hero-btn {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.main input {
    background-color: #1a1818c9;
    padding: 9px 215px 14px 10px;
    font-size: 16px;
    font-weight: 240;
    border: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 4px;
    color: white;
}

.first {

    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 0px;
}
.secImg {
    position: relative;
}

.secImg img {
    width: 500px;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 400px;
    position: absolute;
    top: 112px;
    right: 34px;
}

.thirdvid video {
    width: 420px;
    position: absolute;
    top: 99px;
    right: 71px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 39px 0;

}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

section.first>div :nth-child(2) {
    font-size: 24px;
    color: #ffffff5e;


}

.faq {
    padding: 70px 0px;
}

.faq h2 {
    text-align: center;
    padding: 20px;
    color: white;
    margin: 10px;

}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #1f1e1e;
    cursor: pointer;
}

.faqbox {
    transition: all 1s cubic-bezier(0, 0, 0.15, 1.07);
    max-width: 50vw;
    margin: 12px auto;
    background-color: rgb(58, 58, 58);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;

}

footer {
    max-width: 70vw;
    margin: auto;
    padding: 70px 0px;
}

.question {
    padding: 30px 0px;
}

.footer a {
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px;
}

@media screen and (max-width: 1300px) {
    .first {
        width: 40vw;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }

    .secImg {
        padding: 0px;
        position: relative;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;


    }


}


@media screen and (max-width: 600px) {

    .main {
        background-image: url(Assets/image/bg.jpg);
        height: 90vh;
        position: relative;
        background-repeat: no-repeat;
        background-size: max(1500px, 100vw);
        z-index: 10;
    }
     .main input {
        background-color: #1a1818c9;
        padding: 4px 111px 5px 6px;
        font-size: 12px;
        font-weight: 239;
        border: 1px solid rgba(255, 255, 255, 0.384);
        border-radius: 4px;
        color: white;
        width: 101px;
    }

    nav {
        max-width: 90vw;
        margin: auto;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    nav img {
        width: 75px;
        position: relative;
        z-index: 10;
    }

    .btn {
    background-color: rgba(124, 124, 124, 0);
    padding: 5px 19px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.377);
    color: rgb(245, 245, 245);
    font-size: 10px;
    font-weight: 600;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.btn-SI{
    background-color: rgb(214, 4, 22);
    padding: 6px 19px;
    border-radius: 5px;
    border: 0;
}
    .btn-GS {
    font-size: 12px;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(214, 4, 22);
    color: white;
    padding: 5px 4px;
}
.hero{
    height: calc(90% - 80px);
}
.hero> :nth-child(1) {
    font-size: 43px;
    font-weight: 850;
    line-height: 43px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 43px;
    font-weight: 850;
    line-height: 43px;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 14px;
}
.hero> :nth-child(4) {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 10px;
    text-align: center;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

    .first {
        width: 60vw;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
    }
    section.first>div :nth-child(1) {
    font-size: 30px;}
 section.first>div :nth-child(2) {
    font-size: 20px;}

.secImg img {
    width: 400px;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 300px;
    position: absolute;
    top: 97px;
    right: 47px;
}

.thirdvid video {
    width: 324px;
    position: absolute;
    top: 87px;
    right: 51px;
}










}
